<div class ="container text-center">
  <br>
  <h6>ログインには以下のご入力が必要です。</h6>
  <br>
  <%= form_with(scope: :session, url:sessions_path, local: true ) do |f| %>
    <div class = "mx-auto" style= "width: 500px;" >
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <br>

      <%= f.submit "log in", class: 'btn btn-primary btn-sm' %>
    </div>
  <% end %>
</div>


