<br>
<h5>以下の内容でよろしいですか？</h5>
<br>
<%= form_with(model: @task, url:tasks_path, local: true) do |form| %>

  <%= form.hidden_field :title %>
  <p>タスク名: <%= @task.title %></p>

  <%= form.hidden_field :content %>
  <p>タスク詳細: <%= @task.content %></p>

  <%= form.hidden_field :deadline %>
  <p>終了期限: <%= @task.deadline.strftime("%Y-%m-%d") %></p>

  <%= form.hidden_field :status %>
  <p>ステータス: <%= t("enums.task.status.#{@task.status}") %></p>

  <%= form.hidden_field :priority %>
  <p>優先度: <%= t("enums.task.priority.#{@task.priority}") %></p>

  <% @task.labels.each do |label| %> 
    <%= form.hidden_field :label_ids, multiple: true, value: label.id %> 
  <% end %>
  <p>タグ:
  <% @task.labels.each do |label| %> 
    <%= label.name %>
  <% end %></p>

  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>

<% end %>
