<p><%= notice %></p>

<h1>タスク一覧</h1>

<%#= form_with(url: tasks_path, method: :get, local: true, scope: :task) do |f| %>
<%= form_with(url: tasks_path, method: :get, local: true, scope: :task) do |f| %>
  <div class="field">
      
    <%#= f.label :priority_search, t('.priority_search'), value: params[:priority] %>
    <%#= f.select :title, Task.titles.keys.map {|k| [t("enums.task.title.#{k}"), k]} %>
    
    <%#= f.search_field(params[:title]) %>
    <%= f.text_field :title %>
    <%= f.select :status, Task.statuses.keys.map {|k| [t("enums.task.status.#{k}"), k]}, include_blank: '選択してください' %>
    <%#= f.select :priority, options_for_select(Task.priorities.keys.to_a.map {prompt: t('view.search_with_priority')}) %>




    <%#= f.select :priority, Task.options_for_select(:priority), class: 'form_control', include_blank: true, selected: '' %>

    <%= f.submit "検索", class: "search-btn" %>

  </div>
<% end %>


  <table>
    <tr>
      <th>タスク名</th>
      <th>タスク詳細</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先度</th>
    </tr>
  <% @tasks.each do |task| %>
    <tr class= "task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.deadline.strftime("%Y-%m-%d") %></td>
      <td><%= t("enums.task.status.#{task.status}") %></td>
      <td><%= t("enums.task.priority.#{task.priority}") %></td>
      <td><%= link_to "詳細", task_path(task.id) %></td>
      <td><%= link_to "編集", edit_task_path(task.id) %></td>
      <td><%= link_to "削除", task_path(task.id), method: :delete, data:{confirm: "本当に削除していいですか？"} %></td>
    </tr>
  <% end %>
  </table>

    <%#= f.select :status, options_for_select(Task.statuses.keys.to_a.map {
    |k| [I18n.t("enums.task.status.#{k}"), k]}),{prompt: t('view.search_by_status')} %>

<%= link_to "タスクを追加する", new_task_path %>
<br>

<%  if @tasks.present?  %>
  <%= link_to "終了期限をソートする",tasks_path(sort_expired: "true") %>
<% else %>
  <td></td>
<% end %>

<br>

<%  if @tasks.present?  %>
  <%= link_to "優先順位の高い順に並び替える",tasks_path(sort2_expired: "true") %>
<% else %>
  <td></td>
<% end %>

<%= paginate @tasks %>