<div class="container mt-5" style="width: 900px;">
  <br>
  <h5>ブログ詳細画面</h5>
  <div class="card mt-5" style="width: 80rem;">
    <div class="card-body" >
      <table class="table table-striped">
        <tr>
          <th>タスク名</th>
          <th>タスク詳細</th>
          <th>終了期限</th>
          <th>ステータス</th>
          <th>優先度</th>
          <th>分類</th>
        </tr>
        <tr class= "task_row">
          <td><%= @task.title %></td>
          <td><%= @task.content %></td>
          <td><%= @task.deadline.strftime("%Y-%m-%d") %></td>
          <td><%= t("enums.@task.status.#{@task.status}") %></td>
          <td><%= t("enums.@task.priority.#{@task.priority}") %></td>
          <td>
            <% @task.labels.each do |label| %>
              <%= label.name %>
            <% end %>
          </td>
          <td><%= link_to "編集", edit_task_path(@task.id), class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to "削除", task_path(@task.id), class: 'btn btn-primary btn-sm', method: :delete, data:{confirm: "本当に削除していいですか？"} %></td>
        </tr>
      </table>
    </div>
  </div>

  <%= link_to "投稿一覧に戻る", tasks_path %>
</div>