<h4>ブログ詳細画面</h4>

<p>タイトル: <%= @task.title %></p>
<p>タイトル: <%= @task.content %></p>
<p>タイトル: <%= @task.deadline %></p>
<p>タイトル: <%= @task.status %></p>
<p>タイトル: <%= @task.priority %></p>

<%= link_to "投稿一覧に戻る", tasks_path %>